Math.easeInOutSine = function (t, b, c, d) {
    return -c/2 * (Math.cos(Math.PI*t/d) - 1) + b;
  };
  var easing = Math.easeInOutSine,
      $target = $('#target'),
      position = $target.position(),
      width = $target.width(),
      height = 100;
  $target.html($target.text().split('').map(
    function(char){
      return '<span>'+char+'</span>';
    }
  ).join(''));
  var $chars = $target.children();
  $chars.each(function(){
    var $char = $(this),
        w = $char.width(),
        l = $char.position().left,
        offset = easing(l, 0, height, width),
        skew = offset - easing(w + l, 0, height, width),
        angle = Math.atan(skew/w) * 180 / Math.PI;
    offset = -offset;
    $char.css({
      transform: 'translateY('+offset+'px) skewY('+angle+'deg)'
    });
  });
  $target.css({
    paddingTop: height
  });
  
  #target {
    white-space:pre;
    display:inline-block;
  }
  #target span {
    position:relative;
    display:inline-block;
    transform-origin:left;
  }